/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*--------------------------------------------------------------------------------------------------------*/
/* global */
.wrap {
  width: 100%;
  /* height: 100vh; */
  /* background-color:grey  ; */
  box-sizing: border-box;
  display: flex;
flex-wrap: wrap;
justify-content: center;
}

.container--lg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
@media only screen and (max-width: 1140px) {
  .container--lg {
    width: 860px;
  }
}
@media only screen and (max-width: 450px) {
  .container--lg {
    width: 375px;
  }
}
/* fontsize */
h1,
h2,
h3,
h4,
h5,
p {
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: grey;
}
h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}
h4 {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
}
h5 {
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  padding: 0;
  margin: 0;
}
p {
  font-size: 14px;
  line-height: 14px;
}
/* header */
.header {
  width: 100%;
  display: flex;
}
nav {
  width: 1240px;
  height: 115px;
  background-color: #fff;
  display: flex;
}
.nav__logo {
  flex: 2.5;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__logo i{
  margin-left: 10px;
  color: grey;
}
.menutoggle{
  display: none;
}

.nav__menulist {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1140px){
  nav.container{
    width: 860px;
  }
  .nav__logo {
    flex: 2;
  }
  .nav__menulist {
    flex: 1;
  }
}
@media only screen and (max-width: 450px) {
  nav.container{
    width: 375px;
  }
  .nav__logo{
    justify-content: flex-start;
    padding-left: 5px;
    
  }
  
  .nav__menulist {
   display: none;
  }
  .menutoggle{
    width: 50px;
    height: 50px;
    display:block;
    position: absolute;
    right: 50px;
   }
    .menutoggle  span:first-child{
    margin-top: 10px;
  }
  .menutoggle span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #cbcbcb;
    margin-bottom: 10px;
    margin-left: 10PX;
  }
}
.bgc--green {
  background-color: rgb(76, 167, 76);
}
.bgc--yellow {
  background-color: rgb(238, 163, 24);
}
.bgc--pink {
  background-color: rgb(245, 101, 125);
}
.bgc--lightblue {
  background-color: rgb(18, 181, 245);
}
.bgc--blue {
  background-color: rgb(19, 71, 167);
}
.bgc--grey{
  background-color: grey;
}
.nav__menulist i{
  color: #fff;
  margin-top:20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(256,256,256,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav__menulist p{
  color: #fff;
  margin-top:25px;
  margin-left:-60px;
}
.jumbotro {
  width: 1240px;
  height: 500px;
  background: url("http://picsum.photos/1000/300?random=10") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start ;
}
.jumbotro button{
  height: 40px;
  /* text-align: center;
  padding: 0, 5px; */
  margin-left: 140px;
  margin-bottom: 5px;
  /* border: none; */
  /* border-left: 3px solid ; */
}
.borderColor--orange{
  border: none;
border-left:7px solid rgb(238, 163, 24);
}
.borderColor--blue{
  border: none;
  border-left: 7px solid rgb(18, 181, 245);
}
.borderColor--pink{
  border: none;
  border-left: 7px solid rgb(245, 101, 125);
}

@media only screen and (max-width: 1140px){
  .jumbotro button{
    margin-left: 220px;
  }
}

@media only screen and (max-width: 450px) {
  .jumbotro {
    display: none;
  }
}
/* main */
.container {
  width: 985px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 1140px) {
  .container {
    width: 625px;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    width: 375px;
    margin-top: auto;
  }
}
.quote {
  width: 100%;
  text-align: center;
  margin: 100px 0;
}
.quote span{
  color: rgb(18, 181, 245);
}
@media only screen and (max-width: 450px) {
  .quote{
    margin: 0;
  }
}
.subheader {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.subheader h3,
.subheader h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.subheader p {
  margin: 5px;
}

.subheader__items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subheader__item {
  width: 200px;
  margin: 10px;
 
}
@media only screen and (max-width: 1140px) {
  .subheader__item {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 450px) {
  .subheader__item {
    width: 375px;
    display: flex;
  }
  .subheader__item__text{
    flex:2
  }
}
.subheader__item__pic {
  width: 100px;
  height: 100px;
  border: 2px solid;
  margin: auto;
}
@media only screen and (max-width: 450px) {
  .subheader__item__pic {
    margin: 0;
    width: 80px;
    height: 80px;
  }
}
.subheader__item__pic i {
  top: 50%;
  transform: translateY(50%);
}

.subheader__pics {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}
.subheader__pic {
  width: 300px;
  height: 300px;
  background: url("http://picsum.photos/400/300?random=8") no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px 0;
}

.fortablet {
  display: none;
}
.color--orange {
  color:rgb(238, 163, 24)
}
.color--green {
  color: rgb(76, 167, 76)
}
.color--pink{
  color:  rgb(245, 101, 125);
}
.color--blue{
  color: rgb(18, 181, 245);
}
.color--lightgrey{
  color: lightgray;
}
@media only screen and (max-width: 1140px) {
  .subheader__pic {
    width: 275px;
  }
  .fortablet {
    display: flex;
  }
}
@media only screen and (max-width: 450px) {
  .subheader__pic {
    width: 375px;
    flex-direction: column;
  }
}
.subheader__menuboxs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subheader__menubox {
  width: 460px;
  height: 350px;
  border: 1px solid grey;
  margin: 10px 0;
}
@media only screen and (max-width: 1140px) {
  .subheader__menubox {
    width: 570px;
  }
}
@media only screen and (max-width: 450px) {
  .ssubheader__menubox {
    width: 375px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.ads {
  width: 100%;
  display: flex;
  height: 150px;
  justify-content: center;
}
@media only screen and (max-width: 1140px) {
  .ads {
    width: 625px;
    justify-content: center;
  }
}
@media only screen and (max-width: 450px) {
  .ads {
    display: none;
  }
}

.ad {
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  margin: 20px;
}
/* footer */
footer {
  width: 100%;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bgc--black{
  background-color: #000;
}
.bgc--lightgrey{
  background-color : lightgray;
}
.personalinfo{
flex: 1.5;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/* width: 100%; */
}

.personalinfo__imgbox{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("https://images.unsplash.com/photo-1611607836194-e6eeff3ef49d?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60") no-repeat;
  background-position: center;
  background-size: cover;
  
}
.imgbox img{
  width: 100%;
  height: 100%;
  
}
.personalinfo__text{
  flex: 5;
  margin-left: 30px;
}

.infoitems{
  flex: 2.5;
  display: flex;
  
  }
.infoitem{
  flex: 1 1 200px;
  height: 100%;
  margin:5px 15px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.socialbox{
  flex: 1;
  height: 50px;
  margin: 5px ;
  background-color: grey;
  display: none;
}
.colorblocks{
    flex: .35;
    display: flex;
    flex-direction: row;
    padding: 75px 0px;
   
    }
  .blackcolor{
    flex: 5;
    height: 100%;
  }
  .colorblock{
    flex: 1;
    height: 100%;
  }
  @media only screen and (max-width: 1140px) {
    .infoitems{
      width:625px;
    }
    .infoitem{
      width: 275px;
      height: 50%;
    }
    .blackcolor{
      flex: 3.5;
      
    }
    .colorblock{
      flex: 1;
      
    }

  }
  @media only screen and (max-width: 450px){
    .personalinfo__imgbox{
      margin-left: 10px;
    }
    
    .personalinfo__text{
      margin-left: 10px;
      width: 250px;
    }
    
    .infoitems{
      width:375px;
      
    }
    
    .infoitems > div:nth-last-child(-n+2){
      display: none;
    }
    .infoitems > div:first-child{
      background-color: black;
    }
    .blackcolor{
      display: none;
    }
    .socialbox{
      display: block;
    }
  }
  